.page_container {
    background: #ffffff;
    box-shadow: 0px 0px 13px rgba(40, 78, 153, 0.2);
  }
  img {
    max-width: 100%;
  }
  button {
    padding: 15px 25px;
    background: #349BF0;
    border: 1px solid #349BF0;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }
  