.login-button {
    padding: 14px 24px;
    background: #308DD8;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        @apply bg-[#2381ce]
    }

    &:focus {
        @apply bg-[#2381ce]
    }
}

.disable-btn {
    padding: 14px 24px;
    background: #849eb3;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

}

.form-card {
    @apply p-12 pt-0 relative space-y-8 rounded;
}