<div class="!w-full p-4 my-2">
    <app-tweet-form></app-tweet-form>
    <div class="!w-full">
        <div class="" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()" >
            <div class="w-full p-4 my-2 hover:bg-gray-100 cursor-pointer rounded-lg" *ngFor="let tweet of timelineData">
                <div class="flex justify-between items-center ">
                    <div class="flex gap-5">
                        <div><img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="" width="35"
                                height="35">
                        </div>
                        <div>
                            <p class="font-medium">{{tweet.user['username'] | uppercase}} <span
                                    class="font-light text-slate-600 mt-[-2px]">@{{tweet.user['username']}} - {{
                                    tweet['published'] | date : "d MMM y" }} </span> </p>
                        </div>
                    </div>
                    <!-- <div>follow</div> -->
                </div>
                <div class="ml-14 text-sm text-slate-600">{{tweet.content}}</div>
            </div>
        </div>
        <p class="text-center pt-5 text-lg text-gray-500">{{isNoMoreData? 'No More Data!' : ''}}</p>
    </div>
    <div class=" flex justify-center pt-10">
        <div class="spinner" *ngIf="isLoading"></div>
    </div>
</div>