<div class="max-w-[100%] mt-14">
    <div class="w-full p-4 my-2">
        <div class="flex justify-between items-center ">
            <div class="flex gap-5">
                <div><img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="" width="35" height="35">
                </div>
                <div>
                    <p class="font-medium">{{ userInfo['username'].length > 25 ? userInfo['username'].slice(0, 25) +
                        '...' : userInfo['username'] | uppercase}} <span
                            class="font-normal text-sm text-green-500">({{userInfo?.active &&'active'}})</span></p>
                    <p class="font-light text-slate-600 mt-[-2px]">@{{userInfo.username}}</p>
                </div>
            </div>
            <button class="bg-[#272C30] px-4 py-1 rounded-full font-medium text-white" (click)="followUser()">
                Follow</button>
        </div>
        <div class="ml-14 text-sm text-slate-600">Email: {{userInfo.email}} </div>
    </div>
    <div class="w-full">
        <hr class="border-t-2 border-slate-200">

        <mat-tab-group disableRipple="true" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Tweets">
                <div class="w-full" *ngIf="activeTab==='Tweets'">
                    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50" (scrolled)="onTweetScroll()">
                        <div class="w-full p-4 my-2 hover:bg-gray-100 cursor-pointer rounded-lg"
                            *ngFor="let tweet of tweetList">
                            <div class="flex justify-between items-center ">
                                <div class="flex gap-5">
                                    <div><img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt=""
                                            width="35" height="35">
                                    </div>
                                    <div>
                                        <p class="font-medium">{{tweet.user['username'] | uppercase}} <span
                                                class="font-light text-slate-600 mt-[-2px]">@{{tweet.user['username']}}
                                                - {{
                                                tweet['published'] | date : "d MMM y" }} </span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-14 text-sm text-slate-600">{{tweet.content}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isLoading && tweetList.length<1" class="text-center py-5 text-gray-500 font-bold">No
                    Tweets Found!</div>
            </mat-tab>
            <mat-tab label="Followings">
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onFollowingScroll()" *ngIf="activeTab==='Followings'">
                    <div class="w-full p-4 my-2 hover:bg-gray-100 rounded-lg" *ngFor="let user of followingList">
                        <app-user-card [user]="user" [tab]="'following'"></app-user-card>
                    </div>
                </div>
                <div *ngIf="!isLoading && followingList.length<1" class="text-center py-5 text-gray-500 font-bold">No
                    Followings Found!</div>
            </mat-tab>
            <mat-tab label="Followers">
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onFollowersScroll()" *ngIf="activeTab==='Followers'">
                    <div class="w-full p-4 my-2 hover:bg-gray-100 rounded-lg" *ngFor="let user of followerList">
                        <app-user-card [user]="user" [tab]="'followers'"></app-user-card>
                    </div>
                </div>
                <div *ngIf="!isLoading && followerList.length<1" class="text-center py-5 text-gray-500 font-bold">No
                    Followers Found!</div>
            </mat-tab>
        </mat-tab-group>
        <div class=" flex justify-center pt-10">
            <div class="spinner" *ngIf="isLoading"></div>
        </div>
    </div>
</div>