<div class="w-full h-full grid grid-cols-1 xl:grid-cols-2">
  <div class=" lg:flex lg:flex-col lg:justify-center lg:items-center lg:overflow-hidden lg:relative hidden">
    <img class="absolute h-full w-auto" src="https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png" />
    <img src="assets/images/twitter.png" alt="" class="z-10" width="600" height="600">
  </div>


  <div class=" flex flex-col justify-center items-center lg:items-start">
    <div class="relative">
      <div class="form-card w-[450px] md:w-[560px] flex flex-col justify-start">
        <div class="flex flex-col justify-center items-center lg:items-start pt-6 lg:pt-0">
          <img src="assets/images/x.png" alt="">

          <div class="text-paragraph">
            <p class="text-[#454545] text-[64px] pt-5 font-extrabold lg:text-left text-center">
              Happening now
            </p>
            <p class="text-[#454545] text-3xl pt-5 font-extrabold lg:text-left text-center">
              Join Twitter today.
            </p>
          </div>
        </div>

        <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-label class="text-[#308DD8]">Email</mat-label>
          <mat-form-field appearance="outline" class="twitter-form-field">

            <input class="w-full" type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" />

            <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
              We need a valid email address to log you in
            </mat-error>
          </mat-form-field>
          <mat-label class="text-[#308DD8]">Password</mat-label>

          <mat-form-field appearance="outline" class="twitter-form-field">
            <input [type]="!visible ? 'password' : 'text'" matInput placeholder="**********" formControlName="password"
              autocomplete="current-password" maxlength="25" />
            <mat-icon class="text-[#308DD8] font-thin" matSuffix (click)="visible = !visible">{{ !visible ?
              "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
          <button class="login-button mt-6 block w-full" type="submit" [disabled]="!loginForm.valid">
            <div class="flex items-center justify-center">
              <span *ngIf="!isLoading">LOGIN</span>
              <div class="loader" *ngIf="isLoading" ></div>
            </div>
          </button>

        </form>
        <button class="login-button mt-6 block w-full" routerLink="/auth/sign-up">
          <div class="flex items-center justify-center">
            <span>Sign Up</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>