<app-search></app-search>
<div class="max-w-[100%]">
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <div class="w-full p-4 my-2 hover:bg-gray-100 cursor-pointer rounded-lg" *ngFor="let user of userList" [routerLink]="user.id" (click)="storeUser(user)">
            <div class="flex justify-between items-center ">
                <div class="flex gap-5">
                    <div><img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="" width="35" height="35">
                    </div>
                    <div>
                        <p class="font-medium">{{ user['username'].length > 25 ? user['username'].slice(0, 25) + '...' : user['username'] | uppercase}}<span
                                class="font-normal text-sm text-green-500">({{user['active']&&'active'}})</span></p>
                        <p class="font-light text-slate-600 mt-[-2px]">@{{user['username']}}</p>
                    </div>
                </div>
            </div>
            <div class="ml-14 text-sm text-slate-600">Email: {{user['email']}} <br> Joined: {{ user['join_date'] | date
                : "h:mm a, d MMM y" }} </div>
        </div>
    </div>

    
    <div class="flex justify-center py-5">
        <div class="spinner" *ngIf="isLoading"></div>
    </div>
</div>
<div *ngIf="!isLoading && userList.length<1" class="text-center py-5 text-gray-500 font-bold">No Users Found!</div>