/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.twitter-form-field {
  @apply w-full;

  &.mat-form-field-appearance-outline {
    .mat-form-field-flex {
      padding: 0 16px;
    }

    .mat-form-field-outline-thick .mat-form-field-outline-start,
    .mat-form-field-outline-thick .mat-form-field-outline-end,
    .mat-form-field-outline-thick .mat-form-field-outline-gap {
      border-width: 1px;
    }
  }
}

.ft-progress-bar {
  .mat-progress-bar-fill::after {
    @apply bg-[#ec0e94];
  }
}

.ft-progress-bar {
  .mat-progress-bar-buffer {
    @apply bg-white;
  }
}

.ft-progress-bar {
  .mat-progress-bar {
    @apply rounded-full;
  }
}

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #349BF0;
  --_m: 
    conic-gradient(#0000 10%,#349BF0),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}


.loader {
  width: 20px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#ffffff),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

.snackbar-dark {
  background: #22375b !important;
  color: white !important;
}