/* search-input.component.css */

  
  input {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Adjust padding to make space for icons */
    border: none;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    background-color: #EFF3F4; /* Add a background color */
    border: 1px solid white;
    // transition: border 0.3s; /* Add a transition for the border */
  }
  
  input:focus {
    border: 1px solid #349BF0; /* Add border when input is focused */
  }
  
  .search-icon,
  .clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; /* Customize the color of icons */
  }
  
  .search-icon {
    left: 15px;
  }
  
  .clear-icon {
    right: 15px;
  }
  
  .search-results {
    position: absolute;
    z-index: 10; /* Ensure it appears above other elements if necessary */
    max-height: 400px; /* Set a maximum height to limit the size of the box */
    background-color: #fff; /* Add background color */
    border: 1px solid #ddd; /* Add border to the box */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding: 10px; /* Add some padding to the box */
  }
  
  .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .search-results li {
    padding: 5px 0;
    // border-bottom: 1px solid #ddd; /* Add a separator between search results */
  }